<h1>用户列表</h1>
<p> 用户数量 : <%= @users.size%> 个</p>
<table>
   <% @users.each do |user| %>
    <tr>
      <td><%= link_to "#{user.username}", user_path(user) %></td>
      <td><%= link_to '编辑', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>
