/*导航区块*/
#header a {
	float:left;
	width:auto;
	text-decoration:none;
	color:#ddd;
	
	font-size: 21x;

	padding:4px 4px;
	margin: 0 3px 0 3px;
	
}
#header a:hover {
	color:white;
}


#header div.pull-home {
	float:left;
	margin: 0 0 0 10%;
	width: 320px;

}
#header div.pull-home a {
	float:left;
	width:auto;
	padding:4px 8px 4px 8px;
	margin:0;
	list-style-type:none;
	display:inline;
	font-size: 21px;
	color:white;
	font-weight:bold;
}
#header div.pull-home a.root {
	background-color: #c00;
}


#header div.pull-menu {
	float:right;
	margin: 0 10% 0 0;
	width: 300px;
	text-align: right;
}

#header div.pull-menu a {
	float:right;
	width:auto;
	padding:9px 8px 9px 8px;
	display:inline;
	background-color:transparent;
	border-right:1px solid white;
}

