/*导航区块*/
#header a {
	float:left;
	width:auto;
	text-decoration:none;
	color:#ddd;
	
	font-size: 21x;
	background-color: #c00;
	padding:4px 12px;
	
}
#header a:hover {
	color:white;
	background-color:#ff3300
}


#header div.pull-home {
	float:left;
	margin: 0 0 0 10%;
	width: 120px;

}
#header div.pull-home a {
	width:2em;
	font-size: 21px;
	color:white;
	font-weight:bold;
}
#header div.pull-home a:hover {
	background-color: #c00;

}

#header div.pull-menu {
	float:right;
	margin: 0 10% 0 0;
	width: 320px;
	text-align: right;
}

#header div.pull-menu ul {
	float:right;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}
#header div.pull-menu li {
	display:inline
}
#header div.pull-menu a {
	padding:9px 12px;
	/*height:auto;*/
	background-color:transparent;
	border-right:1px solid white;
}

