
  // 用 Ajax 载入当前页面，找到下拉框的 Dom 的新 HTML，再替换目前页面的下拉框 Dom
  // var selector = '.form-field-user-address';

 // $(selector).replaceWith("<h1>hahahahahah33444</h1>");
  // $(selector).innerHTML="<h1>hahahahahah2</h1>";
  //  $.get(location.href, function(html) {
  //   var doc = $(html).find(selector);
  //   $(selector).replaceWith(doc);
  // });


var carname="Volvo33";
document.getElementById("demo").innerHTML=carname;